/* here you can put your own css to customize and override the theme */
body{
	font-size:12px;
}

.header.navbar{
	background:#2E4358;
}

.nav-holder{
	/*border-top:1px solid #DFDFDF;
	border-bottom:1px solid #DFDFDF;
	margin-bottom:1em;
	margin-left: -20px;
	margin-right: -20px;*/
}
.page-content{
	background:#F0F1F2;
}

/*Tabs*/
.nav-tabs{
	margin-bottom:0;
}
.tab-content{
	background:#FFFFFF;
	border:1px solid #DFDFDF;
	border-top:0;
	padding-top:1em;
}

.dropdown-menu{
	z-index:1001!important;
}

.dropdown-menu li > a {
    padding-right: 10px;
}

.breadcrumb>li, 
.breadcrumb>li>a
{
    font-size: 13px!important;
}
.data-table{
    font-size: 12px;
}
.table tbody>tr>th{
	border-top:0!important;
}

.data-header {
    font-size: 12px!important;
    width: 100px;
    white-space: normal!important;
}
/*sidebar*/
.page-content{
	margin-left:8em;
}
.page-sidebar{
	background:#414141;
	min-height:100em;
	max-width:8em;
	padding:0;
	position:fixed;
}
.nav-side{
	margin:0;padding:0;
}
.nav-side li{
	list-style: none;
}
.nav-side li a{
	border-left:4px solid #414141;
	color:#D1D2D2;
	cursor:pointer;
	display:block;
	font-weight:bold;
	padding:2em 1.5em 2em 1em;
	text-decoration: none;
	text-align:center;
	transition:all .2s ease-in;
}
.nav-side li a:hover, .nav-side li a.selected{
	background:#262A33;
	border-left:4px solid #3EB4C6;
}

.indicator_list > a {
    text-decoration:none;
    color:#000000;
}
.indicator_list > a:link {color:#000000;}
.indicator_list > a:hover {
    color: #2a6496;
}  /* mouse over link */
.indicator_list > .selected{
    font-weight:bold;
    color: #2a6496;
}
.indicator_list > a:active {
   color: #2a6496;
}

.indicator_links{
    padding-left:1.2em;
}

span.ratio {
    margin-left: 2px;
    color: #999;
    font-size: 11px;
}

#map {
    height: 400px;
}
#map #project_sel{
	box-shadow: 0 1px 5px rgba(0, 0, 0, 0.65);
	margin:10px;
	z-index:900;
}
#project_sel a.dropdown-toggle{
	color:#FFF;
	font-size:13px;
}
/*leaflet control*/
.leaflet-top.leaflet-left{
	width:100%;left:0;right:0;
}
.leaflet-control-zoom, .leaflet-control-fullscreen{
	float:right;
	margin-right:10px;
}

#chart {
    height: 440px;
}

.btn {
	border-radius: 2px;
}

.btn.download{
    font-size: 13px;
    /*margin-right: 0.4em;*/
    margin-top: -0.3em;
    margin-bottom: 0.5em;
}

.filters{
    padding-bottom:1.5em;
}

.filters div{ padding:0; }

.filter-btn{
	border-radius:.3em;
    margin-left:0.7em;
    padding-left:1.1em;
    padding-right:1.1em;
}

.filters label{
	color:#435669;
	display:block;
	font-size:1.35em;
	font-weight:500;
	margin-top:.5em;
}

.filters form select {
     width: auto !important;
}

.select-sector{
     z-index: 10001 !important;
}
/**
 * Map Legend
 */
.info {
	padding: 6px 8px;
	font: 14px/16px Arial, Helvetica, sans-serif;
	background: white;
	background: rgba(255,255,255,0.8);
	box-shadow: 0 0 15px rgba(0,0,0,0.2);
	border-radius: 5px;
}
.info h4 {
	margin: 0 0 5px;
	color: #777;
}
.legend {
	text-align: left;
	line-height: 18px;
	color: #555;
}
.legend i {
	width: 18px;
	height: 18px;
	float: left;
	margin-right: 8px;
	opacity: 0.7;
}
/**
 * Map info box
 */
.info h4 {
    margin: 0 0 5px;
    color: #777;
    font-weight: 500 !important;
}
/*datatables*/
.dataTables_wrapper {
    /*border-top: 1px dashed #dedede;*/
    font-size:12px;
    /*margin-top: 1.6em;*/
    padding-top: 1.6em;
}
table.dataTable{
    margin-bottom:1em!important;
    max-width:100%!important;
    table-layout: fixed;
}
.dataTables_filter input[type=text], .dataTables_length select{
    background-color: #ffffff;
    border: 1px solid #e5e5e5;
    border-radius: 3px;
    -webkit-box-shadow: none;
    box-shadow: none;
    color: #333333;
    height: 30px;
    padding: 5px 10px;
    font-size: 12px;
    line-height: 1.5;
    font-weight: normal;
    -webkit-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
}
.dataTables_filter{
    margin-top:-0.2em;
    width:40em;
}
.dataTables_wrapper .col-xs-6:last-child > .dataTables_filter{
	float:right;
}
.dataTables_filter input[type=text]{
    width:20em;
}
.dataTables_filter, dataTables_length{
    margin-bottom:0.8em;
}
.dataTables_info{
	margin-bottom:1em;
}
/*tablesaw*/
.tablesaw-bar{
	margin-top:1em!important;
}

/*Indicator-link tabs*/
.indicator_tabs{
	border-bottom:1px solid #DDDDDD;
	margin-top:1.2em;
	margin-bottom:1.2em;
}
.nav-tabs li a{
	background:#F0F1F2;
	border:1px solid #DDDDDD;
	color:#32363E;
	padding:1em;
	margin:0;
	width:12em;
	text-align:center;
}
.nav-tabs li a.selected{
	background:#F7F9FA;
	border-bottom:2px solid #F7F9FA;
	color:#016291;
	font-weight:700;
	/*margin-bottom:0.89px;*/
}
.nav-tabs li a:hover{
	background:#F7F9FA;
	border:1px solid #DDDDDD;
	/*border-bottom:2px solid #F7F9FA;*/
}
.float-left {
    float: left;
}

div#chart.jqplot-target {
    color: #000 !important;
}

div.row.map_chart {
    margin: 0;
}

span.title.unapproved {
    margin-left: -7px;
}
