/* here you can put your own css to customize and override the theme */
body{
	font-size:12px;
}
.greentxt{
	color:#665;
	font-size:1.7em;
    font-weight:700!important;
}

.header.navbar{
	background:#2E4358;
}

.nav-holder{
	/*border-top:1px solid #DFDFDF;
	border-bottom:1px solid #DFDFDF;
	margin-bottom:1em;
	margin-left: -20px;
	margin-right: -20px;*/
}
.page-content{
	background:#F0F1F2;
	border-radius:0;
	margin-left:8.5em;
}

/*Tabs*/
.nav-tabs{
	margin-bottom:0;
}
.tab-content{
	background:#FFFFFF;
	border:1px solid #DFDFDF;
	border-top:0;
	padding-top:1em;
}

.dropdown-menu{
	z-index:1001!important;
}

.dropdown-menu li > a {
    padding-right: 10px;
}

.breadcrumb>li, 
.breadcrumb>li>a
{
    font-size: 13px!important;
}
.data-table{
    font-size: 12px;
}
.table tbody>tr>th{
	border-top:0!important;
}

.data-header {
    font-size: 12px!important;
    width: 100px;
    white-space: normal!important;
}
/*sidebar*/
.page-sidebar{
	background:#414141;
	margin-top:;
	top:0;bottom:0;
	width:8.5em;
	padding:0;
	position:fixed;
}
.nav-side{
	margin-top:3.75em;
	padding:0;
}
.nav-side li{
	list-style: none;
}
.nav-side li a{
	border-left:4px solid #414141;
	color:#D1D2D2;
	cursor:pointer;
	display:block;
	font-weight:bold;
	padding:2em 1.5em 2em 1em;
	text-decoration: none;
	text-align:center;
	transition:all .2s ease-in;
}
.nav-side li a:hover, .nav-side li a.selected{
	background:#262A33;
	border-left:4px solid #3EB4C6;
}

.indicator_list > a {
    text-decoration:none;
    color:#000000;
}
.indicator_list > a:link {color:#000000;}
.indicator_list > a:hover {
    color: #2a6496;
}  /* mouse over link */
.indicator_list > .selected{
    font-weight:bold;
    color: #2a6496;
}
.indicator_list > a:active {
   color: #2a6496;
}

.indicator_links{
    padding-left:1.2em;
}

span.ratio {
    margin-left: 2px;
    color: #999;
    font-size: 11px;
}

#map {
    height: 432px;
}
#map #project_sel{
	box-shadow: 0 1px 5px rgba(0, 0, 0, 0.65);
	margin:10px;
	z-index:900;
}
#project_sel a.dropdown-toggle{
	color:#555;
	font-size:13px;
}
/*leaflet control*/
.leaflet-top.leaflet-left{
	width:100%;left:0;right:0;
}
.leaflet-control-zoom, .leaflet-control-fullscreen{
	float:right;
	margin-right:10px;
}

#chart {
    height: 440px;
}

.btn {
	border-radius: 2px;
}

.btn.download{
    font-size: 13px;
    /*margin-right: 0.4em;*/
    margin-top: -0.3em;
    margin-bottom: 0.5em;
}

.filters{
    padding-bottom:1.5em;
}

.filters div{ padding:0; }

.filter-btn{
	border-radius:.3em;
    /*margin-left:0.7em;*/
    padding-left:1.1em;
    padding-right:1.1em;
}

.filters label{
	color:#435669;
	display:block;
	font-size:1.35em;
	font-weight:500;
	margin-top:.5em;
}

.filters form select {}

.select-sector{
     z-index: 10001 !important;
}
/**
 * Map Legend
 */
.info {
	padding: 6px 8px;
	font: 14px/16px Arial, Helvetica, sans-serif;
	background: white;
	background: rgba(255,255,255,0.8);
	box-shadow: 0 0 15px rgba(0,0,0,0.2);
	border-radius: 5px;
}
.info h4 {
	margin: 0 0 5px;
	color: #777;
}
.legend {
	text-align: left;
	line-height: 18px;
	color: #555;
}
.legend i {
	width: 18px;
	height: 18px;
	float: left;
	margin-right: 8px;
	opacity: 0.7;
}
/**
 * Map info box
 */
.info h4 {
    margin: 0 0 5px;
    color: #777;
    font-weight: 500 !important;
}
/*datatables*/
.dataTables_wrapper {
    /*border-top: 1px dashed #dedede;*/
    font-size:12px;
    /*margin-top: 1.6em;*/
    padding-top: 1.6em;
}
table.dataTable{
    margin-bottom:1em!important;
    max-width:100%!important;
    table-layout: fixed;
}
.dataTables_filter input[type=text], .dataTables_length select{
    background-color: #ffffff;
    border: 1px solid #e5e5e5;
    border-radius: 3px;
    -webkit-box-shadow: none;
    box-shadow: none;
    color: #333333;
    height: 30px;
    padding: 5px 10px;
    font-size: 12px;
    line-height: 1.5;
    font-weight: normal;
    -webkit-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
}
.dataTables_filter{
    margin-top:-0.2em;
    width:40em;
}
.dataTables_wrapper .col-xs-6:last-child > .dataTables_filter{
	float:right;
}
.dataTables_filter input[type=text]{
    width:20em;
}
.dataTables_filter, dataTables_length{
    margin-bottom:0.8em;
}
.dataTables_info{
	margin-bottom:1em;
}
/*tablesaw*/
.tablesaw-bar{
	margin-top:1em!important;
}

/*Indicator-link tabs*/
.indicator_tabs{
	border-bottom:1px solid #DDDDDD;
	margin-top:1.2em;
	margin-bottom:1.2em;
}
.nav-tabs li a{
	background:#F0F1F2;
	border:1px solid #DDDDDD;
	color:#32363E;
	padding:1em;
	margin:0;
	width:12em;
	text-align:center;
}
.nav-tabs li a.selected{
	background:#F7F9FA;
	border-bottom:2px solid #F7F9FA;
	color:#016291;
	font-weight:700;
	/*margin-bottom:0.89px;*/
}
.nav-tabs li a:hover{
	background:#F7F9FA;
	border:1px solid #DDDDDD;
	/*border-bottom:2px solid #F7F9FA;*/
}
.float-left {
    float: left;
}

div#chart.jqplot-target {
    color: #000 !important;
}

div.row.map_chart {
    margin: 0;
}

span.title.unapproved {
    margin-left: -7px;
}

.project-img {
    margin: 0px auto;
    padding-top: 5px;
    padding-bottom: 5px;
}

#project-report #filter_criteria {
    margin-bottom: 10px;
}

/*Project filters*/
#filter_box, #filter_box .col-xs-8, #filter_box .col-xs-2,
#filter_box .col-xs-1{
	margin-bottom:1em;
	padding:0;
}
#filter_box{
	font-size:12px;
	padding:1em 0;
}
#filter_box .search-txt{
	margin-bottom:0.8em;
}
#filter_box .col-xs-8{
	padding-right:0.5em;
	width:75%;
}
#filter_box .col-xs-2{
	padding-right:0.5em;
	width:25%;
}

/*Indicator filters*/
#filter_box .filter_col select{
	margin-bottom:0.8em;
	width:96%;
}

/***
Up To Medium Devices
***/

@media (max-width:991px) { 
	
	/***
 	Page header
 	***/
 	.header {
 		padding: 0 20px 0 20px;
 		position: relative;
 		clear: both;
 	}

 	.header .navbar-toggle {
 		display: inline-block;
 	}

 	.header .search-form {
 		display: none;
 	}

 	.sidebar-search-menu .search-form {
 		display: block;
 	}

 	.page-sidebar.navbar-collapse {
  		/*max-height: 340px;*/
  	}

 	.page-sidebar.navbar-collapse.collapse {
	    display: none !important;
	}

	.page-sidebar.navbar-collapse.in {	 	
	 	overflow: hidden !important;
	 	overflow-y: auto !important;
	 }

	.header .nav li.dropdown i {
		display: inline-block;
		position: relative;
		top:1px;
		right:0px;
	}

	.header .navbar-nav {
		display: block;
		margin-bottom: 0px !important;
	}

	.header .navbar-nav .open .dropdown-menu  {
		position: absolute;
	}

	.header .navbar-nav {
		display: inline-block;
    	float: right;
    	margin: 0;
  	}
  
 	.header .navbar-nav > li {
    	float: left;
  	}

	.header .navbar-brand {
  		margin-left: 0px !important;
  		padding-left: 0px !important; 
	}

	.header .navbar-brand img {
		margin-left: 4px !important;
	}

	/***
	Page container
	***/
	.page-container {
		margin: 0 !important;
		padding: 0 !important;
	}

	/***
  	Page content
  	***/
  	.page-content {
  		margin: 0px !important;
  		padding: 20px 20px 20px 20px !important;  		
		min-height: 280px; 
  	}

	/***
	Page sidebar
	***/
	.page-sidebar {
		border-top: 0 !important;
		border-radius:0!important;
		min-height:auto!important;
		position:relative;
		/*margin: 20px;*/
		width:100%;
	}

	.page-sidebar.in {
		border-top: 0 !important;
		/*margin: 20px;*/
		position: relative;
		z-index: 5;
	}

	.page-sidebar .sidebar-toggler {
		display: none;
	}

	.page-sidebar ul {
		margin-top:0px;
		width:100%;
	}
	.page-sidebar ul li{
		float:left;
		width:25%;
	}
	.nav-side li a{
		height:9em;
	}
	.nav-side li a{
		border:0;
		border-bottom:4px solid #414141;
	}
	.nav-side li a:hover, .nav-side li a.selected{
		background:#262A33;
		border:0;
		border-bottom:4px solid #3EB4C6;
	}
	.page-sidebar .selected {
		/*display: none !important;*/
	}

	.page-sidebar .sidebar-search .input-box {
	  width: 220px;
	}

	/***
	Styler panel
	***/
	.styler-panel {
		top:55px;
		right:20px;
	}

	/***
	Boxed Layout
	***/
 	.page-boxed .header > .container,
 	.page-boxed .footer > .container,
 	.page-boxed > .container {
 		max-width: none !important;
 		margin: 0 !important;
 		padding: 0 !important;
 	}
 	
 	/*Chart*/
 	#chart-content{
 		margin-top:1em;
 	}
 	#chart{
 		height:auto;
 	}

}

/***
From Small Devices Up To Medium Devices
***/
 
@media (min-width: 768px) and (max-width: 991px) { 

	/***
	Body
	***/
	body {
	 	padding-top: 0px;
	}

	/***
	Page sidebar
	***/
	.page-sidebar .btn-navbar.collapsed .arrow { 
		display: none;
	}	

	.page-sidebar .btn-navbar .arrow {
	  position: absolute;
	  right: 25px;
	  width: 0; 
	  height: 0;
	  top:50px;
	  border-bottom: 15px solid #5f646b;
	  border-left: 15px solid transparent; 
	  border-right: 15px solid transparent; 
	}
} 
 
/***
Extra Small Devices Only
***/

@media (max-width: 767px) { 
	
	/***
	Page header
	***/
	
	.header {
 		padding: 0 10px 0 10px;
 	}

	.header .top-nav .nav{  
	 	margin-top: 0px;
	 	margin-right: 5px;
	}

	.header .nav > li > .dropdown-menu.notification:after, 
	.header .nav > li > .dropdown-menu.notification:before {
		margin-right: 160px;
	}

	.header .nav > li > .dropdown-menu.notification {
  		margin-right: -160px;
	}

	.header .nav > li > .dropdown-menu.inbox:after, 
	.header .nav > li > .dropdown-menu.inbox:before {
		margin-right: 120px;
	}

	.header .nav > li > .dropdown-menu.inbox {
  		margin-right: -120px;
	}

	.header .nav > li > .dropdown-menu.tasks:after, 
	.header .nav > li > .dropdown-menu.tasks:before {
		margin-right: 70px;
	}

	.header .nav > li > .dropdown-menu.tasks {
  		margin-right: -70px;
	}

  	/* Header logo */
	.header .navbar-brand {
  		margin-left: 0px !important;
  		width: 110px;
	}
	
	/***
	Page content
	***/
	.page-content {
		padding: 20px 10px 10px 10px !important;
		overflow: hidden;
	}
	
	/* Form Filters */
	#filter_box .col-xs-2{
		width:50%;
	}
	#filter_box .col-xs-8{
		width:100%;
	}
	.filter_col .col-xs-3{
		width:50%;
	}

	/***
	Page title
	***/
	.page-title {
		margin-bottom: 20px;
		font-size: 18px;
	}

	.page-title small {
		font-size: 13px;
		padding-top: 3px;
	}
	
	/***
	Styler pagel
	***/
	.styler-panel {
		top:58px;
		right:12px;
	}	

	/***
	Page breadcrumb
	***/
	.breadcrumb {
		padding-left: 10px;
  		padding-right: 10px;
	}

	/***
	Portlet form action
	***/
	.portlet-body.form .form-actions{
	  padding-left: 15px;	
	} 


	/***
	Form input validation states
	***/
	.input-icon .input-error, 
	.input-icon .input-warning, 
	.input-icon .input-success { 
		top:-27px;
		float: right;
		right:10px !important;
	}	

	/***
	Advance tables
	***/
	.table-advance tr td.highlight:first-child a {
		margin-left: 8px;
	}

	/***
	Footer	
	***/	
	.footer {
		padding-left: 10px;
		padding-right: 10px;		
	}	
	
	.footer .go-top {  
		float: right;
		display: block;
		margin-right: 0px;
	}

	/***
	Vertical inline menu
	***/
	.ver-inline-menu li.active:after {
		display: none;
	}

	/***
	Form controls
	***/
	.form-horizontal .form-actions {
  		padding-left: 180px; 	
  	}

  	.portlet .form-horizontal .form-actions {
  		padding-left: 190px; 	
  	}
}

/***
The Most Extra Small Devices Landscape Mode Only
***/

@media (max-width: 480px) {

	/***
	Header navbar
	***/

	.header .navbar-nav {
		display: block !important;
		margin-top: 0px !important;
	}

  	/***
	Page sidebar
	***/
	.page-sidebar li a.span{
		/*margin: 0 10px 10px 10px;*/
		font-weight:600;
	}

	/***
	Page title
	***/
	.page-title small {
		display: block;
		clear: both;
	}

	/***
	Forms
	***/
  	.portlet .form-horizontal .form-actions {
  		padding-left: 10px; 	
  	}

	/***
	Dashboard date range panel
	***/
	.page-content .breadcrumb .dashboard-date-range  {
		padding-bottom: 8px;
	} 

	.page-content .breadcrumb .dashboard-date-range span {
		display: none;
	}	

  	.page-content .breadcrumb > .btn-group span {
  		display: none;
  	}

  	.page-content .breadcrumb > .btn-group > .btn {
  		padding-left: 7px;
  		padding-right: 7px;
  	}

	.header .navbar-nav > li.dropdown .dropdown-toggle .username {
  		display: none;
	}

	.header .navbar-nav > li.devider {
		margin-left: 2px !important;
  		margin-right: 2px !important;
	}
	
	/*Responsive nav*/
	.page-sidebar ul li{
		width:50%;
	}
	
	/* Filter form */
	#filter_box .col-xs-2{
		width:100%;
	}
	.filter_col .col-xs-6{
		width:100%;
	}
	.filter_col .col-xs-6 .col-xs-6{
		width:50%;
	}
	.filter_col .form-group{
		margin-bottom:0;
	}

	/***
	Hidden phone
	***/
	.hidden-480 {
		display: none !important;
	}
}

/***
The Most Extra Small Devices Portrait Mode Only
***/

@media (max-width: 320px) {

	.header .nav > li.dropdown .dropdown-toggle {
	  padding-left: 8px !important;
	  padding-right: 8px !important;
	}
	
	/*Filter forms*/
	.filter_col .col-xs-3{
		width:100%;
	}
	.filter_col .col-xs-6 .col-xs-6{
		width:100%;
	}
	.filter_col .form-group{
		margin-bottom:0;
	}

	/***
	Hidden phone
	***/
	.hidden-320 {
		display: none;
	}

	.header .navbar-brand {
		width: 100px;
	}
}	

.leaflet-print-control {
    margin-right: 10px;
}

.export-spinner {
    background-image: url("../img/input-spinner.gif");
    background-repeat: no-repeat;
}

#currLocation {
    text-transform: capitalize;
}

#results_indicator_filter_criteria div {
    margin-right: 0.5em;
}
