{% macro add_indicator_links(request, location_type, location, page) %}
<div class="row indicator_links">
 <ul class="nav navbar-nav">
    {% if location %}
      <li class="indicator_list">
          <a href="{{ request.route_url(location_type,traverse=(location.id, 'performance')) }}"
            {% if page == 'performance'%}
                 class="selected" >
            {% else %}
                  >
            {% endif %}
            {% trans %} Performance {% endtrans %}
          </a>
      </li>
      <li class="indicator_list">
          <a href="{{ request.route_url(location_type,traverse=(location.id)) }}"
            {% if page == 'impact' %}
                 class="selected" >
            {% else %}
                  >
            {% endif %}
            {% trans %} Impact {% endtrans %}
          </a>
      </li>
      <li class="indicator_list">
          <a href="#">{% trans %} Result Framework {% endtrans %}</a>
      </li>
    {% else %}
      <li class="indicator_list">
          <a href="{{ request.route_url('counties',traverse=('performance_summary')) }}"
            {% if page == 'performance'%}
                 class="selected" >
            {% else %}
                  >
            {% endif %}
            {% trans %} Performance {% endtrans %}
          </a>
      </li>
      <li class="indicator_list">
          <a href="{{ request.route_url('counties',traverse=()) }}"
            {% if page == 'impact' %}
                 class="selected" >
            {% else %}
                  >
            {% endif %}
            {% trans %} Impact {% endtrans %}
          </a>
      </li>
      <li class="indicator_list">
          <a href="#">{% trans %} Result Framework {% endtrans %}</a>
      </li>
    {% endif %}
 </ul>
</div>
{% endmacro %}