{% macro add_indicator_links(request, location, search_criteria) %}
    <div class="row nav-holder indicator_links">
        <ul class="nav nav-tabs indicator_tabs">
            {% set id = location.id if location else '' %}
            <li class="indicator_list">
                <a href="{{ request.route_url('performance_indicators',traverse=(id), _query={'view_by': search_criteria.view_by}) }}"
                {% if request.matched_route.name == 'performance_indicators'%}
                        class="selected" >
                {% else %}
                        >
                {% endif %}
                {% trans %} Performance {% endtrans %}
                </a>
            </li>
            <li class="indicator_list">
                <a href="{{ request.route_url('impact_indicators',traverse=(id), _query={'view_by': search_criteria.view_by}) }}"
                {% if request.matched_route.name == 'impact_indicators' %}
                        class="selected" >
                {% else %}
                        >
                {% endif %}
                {% trans %} Impact {% endtrans %}
                </a>
            </li>
            <li class="indicator_list">
                <a href="#">{% trans %} Result Framework {% endtrans %}</a>
            </li>
        </ul>
    </div>
{% endmacro %}
