{% macro filter_criteria_options (request, filter_criteria, search_criteria, filter_location_type, location_type) %}
    {% set view_by = search_criteria['view_by']%}
    {% set selected_location = search_criteria['location'] %}
    {% for location in filter_criteria[filter_location_type]|sort(case_sensitive=False, attribute='name') %}
    <option value="{{ location.id }}"
        {%if selected_location and selected_location.is_found_in(location) %}
            selected
        {%endif%}
        url="{{ request.route_url(request.matched_route.name, traverse=(location.id)) }}"
        >
        {{ location.pretty }}
    </option>
    {% endfor %}
{% endmacro %}