{% macro generate_filter_criteria_dropdowns(filter_criteria) %}
<div class="row filters">
  <form id="filter_criteria" class="form-inline" method="get">
    <select name="county" class="form-control input-small" data-placeholder="Select...">
      <option value="">--All Counties--</option>
      {% for county in filter_criteria["counties"] %}
      <option value="{{ county.id }}">{{ county.pretty }}</option>
      {% endfor %}
    </select>
    <select name="sub_county" class="form-control input-small"  data-placeholder="Select...">
      <option value="">--All Sub-Counties--</option>
      {% for sub_county in filter_criteria["sub_counties"] %}
      <option value="{{ sub_county.id }}"
      {%if search_criteria["location"] == (sub_county.id | string)%}
      selected
      {%endif%}
      >
      {{ sub_county.pretty }}</option>
      {% endfor %}
    </select>
    <select name="constituency" class="form-control input-small" data-placeholder="Select...">
      <option value="">--All Constituencies--</option>
      {% for constituency in filter_criteria["constituencies"] %}
      <option value="{{ constituency.id }}"
      {%if search_criteria["location"] == (constituency.id | string)%}
      selected
      {%endif%}
      >{{ constituency.pretty }}</option>
      {% endfor %}
    </select>
    <select  name="community" class="form-control input-small" data-placeholder="Select...">
      <option value="">--All Communities--</option>
      {% for community in filter_criteria["communities"] %}
      <option value="{{ community.id }}"
      {%if search_criteria["location"] == (community.id | string)%}
      selected
      {%endif%}
      >{{ community.pretty }}</option>
      {% endfor %}
    </select>

    <button type="submit" class="filter-btn btn btn-info pull-right"> Go <i class="icon-filter"></i></button>
    <div class="form-group pull-right">
      <label> View by:</label>
      <select  name="view_by" class="form-control input-small" data-placeholder="Select...">
        <option value="">--View All--</option>
        <option value="">County</option>
        <option value="">Sub-County</option>
        <option value="">Constituency</option>
        <option value="">Community</option>
        <option value="">Project</option>
      </select>
    </div>
  </form>
</div>
{% endmacro %}
