{% from 'generate_project_type_dropdown_link.jinja2' import generate_project_type_dropdown_link %}

{% macro generate_project_type_dropdown(request, selected_project_type, location_type, location, project_report_sectors, search_criteria) %}
<div class="btn-toolbar actions margin-bottom-10">
    <label class="pull-left margin-right-10"> Sector:</label>
      <div class="btn-group">
         <a class="btn btn-sm btn-success dropdown-toggle" href="#" data-toggle="dropdown" data-hover="dropdown">
          {% if selected_project_type %}
              {% for reg_id, report_id, title in project_report_sectors %}
                {% if reg_id == selected_project_type %}
                  {{ title }}
                {% endif %}
              {% endfor %}
          {% else %}
            All Sectors
          {% endif %}
           <i class="icon-angle-down"></i>
         </a>
         <ul class="dropdown-menu"> 
            {{ generate_project_type_dropdown_link(request, location_type, 'All sectors', '', search_criteria) }}
          {% for project_sector in project_report_sectors %}
            {{ generate_project_type_dropdown_link(request, location_type, project_sector[2], project_sector[0], search_criteria) }}
          {% endfor %}
         </ul>
      </div>
</div>
{% endmacro %}