{% macro generate_project_type_dropdown(request, selected_project_type, location_type, location, project_report_sectors) %}

<div class="btn-toolbar actions margin-bottom-10">
    <!--<label class="pull-left margin-right-10"> Sector:</label>-->
      <div class="btn-group">
         <a class="btn btn-default btn-lg dropdown-toggle" href="#" data-toggle="dropdown" data-hover="dropdown">
         {{ selected_project_type }}
         <i class="icon-angle-down"></i>
         </a>
         <ul class="dropdown-menu">
             <li>
                 <a href="{{ request.route_url(location_type, traverse=('performance_summary'), _query={'type': ''}) }}">
                     All Sectors
                 </a>
          </li>
          {% for project_sector in project_report_sectors %}
            <li>
              <a href="{{ request.route_url(location_type, traverse=('performance_summary'), _query={'type': project_sector[0]}) }}">
                {{ project_sector[2] }}
              </a>
            </li>
          {% endfor %}
         </ul>
      </div>
</div>
{% endmacro %}