{% from 'filter_criteria_options.jinja2' import filter_criteria_options %}
{% macro generate_filter_criteria_dropdowns(filter_criteria, location_map) %}
<div class="clearfix filters">
  <form id="filter_criteria" class="form-inline" method="get">
	<div class="col-md-7">
	    <label>Select Location</label>
	    
		<select name="county" class="form-control input-small select2me" data-placeholder="Select..." onchange="LocationSelect.level0ChangeListener(this);">
	      <option value="">All Counties</option>
	      {{ filter_criteria_options(filter_criteria, location_map, "counties", "county" ) }}
	    </select>
	    <select name="sub_county" class="form-control input-small select2me"  data-placeholder="Select..." onchange="LocationSelect.level1ChangeListener(this);">
	      <option value="">All Sub-Counties</option>
	      {{ filter_criteria_options(filter_criteria, location_map, "sub_counties", "sub_county" ) }}
	    </select>
	    <select name="constituency" class="form-control input-small select2me" data-placeholder="Select..." onchange="LocationSelect.level2ChangeListener(this);">
	      <option value="">All Constituencies</option>
	      {{ filter_criteria_options(filter_criteria, location_map, "constituencies", "constituency" ) }}
	    </select>
	    <select  name="community" class="form-control input-small select2me" data-placeholder="Select..." onchange="LocationSelect.level3ChangeListener(this);" >
	      <option value="">All Communities</option>
	       {{ filter_criteria_options(filter_criteria, location_map, "communities", "community" ) }}
	    </select>
	</div>
	
	<div class="col-md-4">
	    <div class="form-group">
	      <label> Aggregate by</label>
	  
	      <select name="view_by" class="form-control" data-placeholder="Select...">
	        <option value="counties">Counties</option>
	        <option value="sub_counties">Sub-Counties</option>
	        <option value="constituencies">Constituencies</option>
	        <option value="communities">Communities</option>
	        <option value="projects">Projects</option>
	      </select>
	      
		  <button type="submit" class="filter-btn btn btn-info pull-right">Apply</button>
	    </div>
	</div>
  </form>
</div>
{% endmacro %}
