{% from 'value_or_default.jinja2' import value_or_default %}
{% from 'generate_location_columns.jinja2' import generate_location_columns %}
{% macro generate_performance_indicator_table(request, location_type, dataset, search_criteria) %}
  <div class="portlet-body">
  {% if dataset['rows'] and dataset['summary_row'] %}
    <div class="table-responsive table-scrollable">
        <table class="table table-striped table-bordered table-hover data-table" id="prjDatatable">
            <thead>
                <tr>
                    {% for header in dataset['headers'] %}
                        <th class="data-header">
                        {{ header }}
                        </th>
                     {% endfor %}
                 </tr>
            </thead>
            <tbody>
              {{ generate_location_columns(request, dataset['rows'], dataset['summary_row'], search_criteria, "performance") }}
            </tbody>
        </table>
    </div>
    {% else %}
        <div>{% trans %}No reports found for available projects{% endtrans %}</div>
  {% endif %}
{% endmacro %}
