{% macro generate_map_chart_pf(request, indicators) %}
<div id="maps-content" class="display-none" style="display: block;">
  <div class="btn-toolbar margin-bottom-10">
    <div class="btn-group pull-right">
      <a href="" class="btn btn-info btn-sm dropdown-toggle" data-toggle="dropdown" data-hover="dropdown" data-close-others="true">
        <span class="selected-indicator">Select Indicator</span> <span class="icon-angle-down"></span>
      </a>
      <ul class="dropdown-menu select-sector">
        {% for indicator in indicators %}
          {% set label = indicator[0] -%}
          {% set key = indicator[1][2] -%}
          <li><a href="javascript:;" class="indicator-selector" data-indicator="{{ key }}"> {{ label }}</a></li>
        {% endfor %}
      </ul>
    </div>
  </div>
  <div id="map"></div>
</div>
{% endmacro %}
