{% macro update_selected_location_dropdowns(search_criteria) %}
    {% set location = search_criteria['location']%}
    {% if location and location.location_type == "community" %}
        LocationSelect.level3ChangeListener($('select[name=community]'));
    {% elif location and location.location_type == "constituency" %}
        LocationSelect.level2ChangeListener($('select[name=constituency]'));
    {% elif location and location.location_type == "sub_county" %}
        LocationSelect.level1ChangeListener($('select[name=sub_county]'));
    {% elif location and location.location_type == "county" %}
        LocationSelect.level0ChangeListener($('select[name=county]'));
    {% elif not location %}
        $('select[name=view_by]').val('{{search_criteria['view_by'] or "counties"}}');
    {% endif %}

    {% if location and search_criteria['view_by'] %}
        $('select[name=view_by]').val('{{search_criteria['view_by']}}');
    {% endif %}
{% endmacro %}
