{% extends 'base.jinja2' %}
{% block title %}Users{% endblock %}
{% block page_title %}
  <h3>
     {{ self.title() }}
  </h3>
{% endblock %}
{% block content %}
  <section class="container">
    {% include 'alerts.jinja2' %}
    <div class="row">
      <div class="col-md-12">
        <div class="portlet">
          <div class="portlet-title">
            <strong>Current Users</strong>
          </div>
          <div class="portlet-body">
            <form method="post">
              <input type="hidden" name="csrf_token" value="{{ request.session.get_csrf_token() }}" />
              <table class="table table-responsive table-hover">
                <thead>
                <tr>
                  <th>Username</th>
                  <th>Role</th>
                  <th>Status</th>
                  <th></th>
                </tr>
                </thead>
                <tbody>
                {% for user in users|sort(true, attribute='id') %}
                {% set is_current_user = request.user == user %}
                  <tr>
                    <td>{{ user.username }}</td>
                    <td>{{ user.group|capitalize }}</td>
                    <td>
                      <button type="submit" 
                        {% if is_current_user %}disabled="disabled"{% endif %} 
                        class="btn btn-
                        {% if user.active %}success{% else %}warning{% endif %}btn-xs"
                        formaction="{{ request.route_url('users', traverse=(user.id, 'toggle-status')) }}"
                        data-toggle="tooltip" 
                        data-placement="left" 
                        title="Click to {{ (user.active and "Deactivate") or "Activate" }}">{{ (user.active and "Active") or "Inactive" }}</button>
                    </td>
                    <td>
                      <a class="btn btn-default btn-xs" {% if is_current_user %}disabled="disabled"{% endif %} href="{{ request.route_path('users', traverse=(user.id, 'edit')) }}">Edit</a>
                    </td>
                  </tr>
                {% endfor %}
                </tbody>
              </table>
            </form>
          </div>
          <!-- Portlet Body -->
        </div>
      </div>
    </div>
  </section>
  <!-- /.content -->
{% endblock %}