<div id="chart-content" style="display: block;">
  <div id="chart">
    <div class="panel panel-info">
      <div class="panel-body">
        {% trans %} No {{ label }} indicator has been selected {% endtrans %}
      </div>
    </div>
  </div>
</div>