{% extends 'base.jinja2' %}
{% from 'macros/value_or_default.jinja2' import value_or_default %}
{% from 'macros/add_indicator_links.jinja2' import add_indicator_links %}
{% block title %}{{ Projects }} {% endblock %}
{% block page_title %}
  <h3 class="page-title">
    {{ community.name| capitalize }} Community
    <small></small>
  </h3>
{% endblock %}
{% block breadcrumbs %}
  <li>
      <a href="{{ request.route_url('counties', traverse=()) }}">{% trans %}County Indicators{% endtrans %}</a>
      <i class="icon-angle-right"></i>
  </li>
  <li>
      <a href="{{ request.route_url('counties',traverse=(locations.county.id)) }}">{{ locations.county.name | capitalize }} County</a>
      <i class="icon-angle-right"></i>
  </li>
  <li>
      <a href="{{ request.route_url('sub_county',traverse=(locations.sub_county.id)) }}">{{ locations.sub_county.name | capitalize }} Sub-County</a>
      <i class="icon-angle-right"></i>
  </li>
  <li>
      <a href="{{ request.route_url('constituency',traverse=(locations.constituency.id)) }}">{{ locations.constituency.name | capitalize }} Constituency</a>
      <i class="icon-angle-right"></i>
  </li>
  <li>
      {{ community.name | capitalize }} Community
  </li>
{% endblock %}

{% block indicators %}
        {{ add_indicator_links(request, 'community', community, 'impact') }}
{% endblock %}
{% block content %}
<div class="col-md-12">
    <!-- BEGIN SAMPLE TABLE PORTLET-->
    <div class="portlet">
      <div class="portlet-title">
        <div class="caption">
          <i class="icon-tasks"></i>
          {% trans %} Projects {% endtrans %}
        </div>
      </div>
      <div class="portlet-body">
         <div class="table-responsive">
            <table class="table table-striped table-bordered table-hover">
               {% include 'impact_indicator_table_head.jinja2' %}
               <tbody>
                <tr>
                  <td>
                    {% trans %} Total Summary {% endtrans %}
                  </td>
                  {% for indicator in impact_indicator_mapping %}
                    <td>
                        {{ value_or_default(aggregated_indicators['summary'][indicator.key], '-') }}
                    </td>
                  {% endfor %}
                </tr>
               {% for project_indicator_map in aggregated_indicators['indicator_list'] %}
                  <tr>
                    <td>
                        <a href="{{ request.route_url('projects', traverse=(project_indicator_map['project_id'], 'show')) }}">
                          {{ project_indicator_map['project_name'] }}
                        </a>
                    </td>
                    <div>
                    </div>
                    {% for indicator in impact_indicator_mapping %}
                      <td>
                        {{ value_or_default(project_indicator_map['indicators'][indicator.key], '-') }}
                      </td>
                    {% endfor %}
                  </tr>
               {% endfor %}
               </tbody>
            </table>
         </div>
      </div>
    </div>
    <!-- END SAMPLE TABLE PORTLET-->
</div>
{{response}}
{% endblock content %}