{% extends 'base.jinja2' %}
{% from 'macros/value_or_default.jinja2' import value_or_default %}
{% from 'macros/add_indicator_links.jinja2' import add_indicator_links %}
{% from 'macros/generate_project_type_dropdown.jinja2' import generate_project_type_dropdown %}
{% block title %}{{ community.name | capitalize }} Community{% endblock %}
{% block page_title %}
  <h3 class="page-title">
    {{ community.name| capitalize }} Community
    <small></small>
    <small></small>
  </h3>
{% endblock %}
{% block breadcrumbs %}
  <li>
      <a href="{{ request.route_url('county', traverse=()) }}">{% trans %}County Indicators{% endtrans %}</a>
      <i class="icon-angle-right"></i>
  </li>
  <li>
      <a href="{{ request.route_url('county',traverse=(community.constituency.sub_county.county.id)) }}">{{ community.constituency.sub_county.county.pretty }} {% trans %}County{% endtrans %}</a>
      <i class="icon-angle-right"></i>
  </li>
  <li>
      <a href="{{ request.route_url('sub_county',traverse=(community.constituency.sub_county.id)) }}">{{ community.constituency.sub_county.pretty }} {% trans %}Sub County{% endtrans %}</a>
      <i class="icon-angle-right"></i>
  </li>
  <li>
      <a href="{{ request.route_url('constituency',traverse=(community.constituency.id)) }}">{{ community.constituency.pretty }} {% trans %}Constituency{% endtrans %}</a>
      <i class="icon-angle-right"></i>
  </li>
  <li>
      {{ self.title() }}
  </li>
{% endblock %}
{% block indicators %}
  {{ add_indicator_links(request, 'community', community, 'performance') }}
{% endblock %}
{% block content %}
{% for sector, report, label in project_types %}
  <div class="row">
    <div class="col-md-12">
      <!-- BEGIN TABLE PORTLET-->
      <div class="portlet">
        <div class="portlet-title">
          <div class="caption">
            <i class="icon-tasks"></i>
            {{ gettext(label) }} {% trans %}Projects{% endtrans %}
          </div>
        </div>
        <div class="portlet-body">
          {% if sector_aggregated_indicators[sector]['summary'] %}
           <div class="table-responsive table-scrollable">
              <table class="table table-striped table-bordered table-hover
                  data-table">
                 <thead>
                     <tr> 
                      <th class="data-header">{% trans %}Project Name{% endtrans %}</th>
                      {% for indicator in sector_indicator_mapping[sector] %}
                        <th class="data-header">
                          {{ indicator['title'] }}
                        </th>
                      {% endfor %}
                    </tr>
                 </thead>
                 <tbody>
                    {% for project_indicator_map in sector_aggregated_indicators[sector]['indicator_list'] %}
                      <tr>
                        <td>
                            <a href="{{ request.route_url('projects', traverse=(project_indicator_map['project_id'], 'show')) }}">
                              {{ project_indicator_map['project_name'] }}
                            </a>
                        </td>
                        <div>
                        </div>
                        {% for indicator in sector_indicator_mapping[sector] %}
                              {% set target, actual, percentage = indicator['group']%}
                              {% set indicators = project_indicator_map['indicators'] %}
                            <td>
                              {% if indicators[target] and indicators[percentage] %}
                                    {{value_or_default(indicators[percentage]|format_percent(request))}}
                                        <span class="ratio">
                                            ({{value_or_default(indicators[actual]|format_value(request),'-')}}
                                            /{{value_or_default(indicators[target]|format_value(request),'-')}})
                                        </span>
                                {% else %}
                                    {{ value_or_default(indicators[actual])}}
                                {% endif %}
                            </td>
                        {% endfor %}
                      </tr>
                      <tr class="bold">
                          <td>
                            {% trans %} Total Summary {% endtrans %}
                          </td>
                          {% for indicator in sector_indicator_mapping[sector] %}
                              <td>
                                {% set target, actual, percentage = indicator['group']%}
                                {% set indicators = sector_aggregated_indicators[sector]['summary']%}
                                    {% if indicators[target] and indicators[percentage] %}
                                        {{value_or_default(indicators[percentage]|format_percent(request))}}
                                            <span class="ratio">
                                                ({{value_or_default(indicators[actual]|format_value(request),'-')}}
                                                /{{value_or_default(indicators[target]|format_value(request),'-')}})
                                            </span>
                                    {% else %}
                                        {{ value_or_default(indicators[actual])}}
                                    {% endif %}
                                </td>
                          {% endfor %}
                    </tr>
                    {% endfor %}
                 </tbody>
              </table>
           </div>
          {% else %}
            <div> {% trans %}No reports found for available projects{% endtrans %}</div>
          {% endif %}
        </div>
      </div>
      <!-- END TABLE PORTLET-->
    </div>
  </div>
{% endfor %}
{% endblock content %}
