{% extends 'base.jinja2' %}
{% from 'macros/value_or_default.jinja2' import value_or_default %}
{% block title %}{{ Projects }} {% endblock %}
{% block page_title %}
  <h3 class="page-title">
    {{ community.name }}
    <small></small>
  </h3>
{% endblock %}
{% block breadcrumbs %}
  <li>
      <a href="#">Projects Indicators</a>
      <i class="icon-angle-right"></i>
  </li>
  <li>
      <a href="{{ request.route_url('counties',traverse=(locations.county.id)) }}">{{ locations.county.name }}</a>
      <i class="icon-angle-right"></i>
  </li>
  <li>
      <a href="{{ request.route_url('sub_county',traverse=(locations.sub_county.id)) }}">{{ locations.sub_county.name }}</a>
      <i class="icon-angle-right"></i>
  </li>
  <li>
      <a href="{{ request.route_url('constituency',traverse=(locations.constituency.id)) }}">{{ locations.constituency.name }}</a>
      <i class="icon-angle-right"></i>
  </li>
  <li>
      {{ community.name }}
  </li>

{% endblock %}
{% block indicators %}
  <li>
    <a href="{{ request.route_url('community',traverse=(community.id, 'performance')) }}">
      {% trans %} Performance {% endtrans %}
    </a>
  </li>
  <li>
    <a href="{{ request.route_url('community',traverse=(community.id, 'show')) }}">
      {% trans %} Impact {% endtrans %}
    </a>
  </li>
  <li>
    {% trans %} Result Framework {% endtrans %}
  </li>
{% endblock %}
{% block content %}
<div class="col-md-12">
    <!-- BEGIN SAMPLE TABLE PORTLET-->
    <div class="portlet">
      <div class="portlet-title">
        <div class="caption">
          <i class="icon-tasks"></i>
          {{ community.name }}{% trans %} Projects {% endtrans %}
        </div>
        <div class="actions">
              <div class="btn-group">
                 <a class="btn btn-sm dropdown-toggle" href="#" data-toggle="dropdown">
                 {{ selected_project_type }}
                 <i class="icon-angle-down "></i>
                 </a>
                 <ul class="dropdown-menu pull-right">
                  {% for project_sector in project_report_sectors %}
                    <li>
                      <a href="{{ request.route_url('community',traverse=(community.id, 'performance'), _query={'type': project_sector[0]}) }}">
                        {{ project_sector[1] }}
                      </a>
                    </li>
                  {% endfor %}
                 </ul>
              </div>
           </div>
      </div>
      <div class="portlet-body">
        {% if aggregated_indicators['indicator_list'] %}
         <div class="table-responsive">
            <table class="table table-striped table-bordered table-hover">
               <thead>
                  <tr>
                    <th>{% trans %} Project Name {% endtrans %}</th>
                    {% for title, key in indicator_mapping%}
                      <th>
                        {{ title }}
                      </th>
                    {% endfor %}
                  </tr>
               </thead>
               <tbody>
               {% for project_indicator_map in aggregated_indicators['indicator_list'] %}
                  <tr>
                    <td>
                        <a href="{{ request.route_url('projects', traverse=(project_indicator_map['project_id'], 'show')) }}">
                          {{ project_indicator_map['project_name'] }}
                        </a>
                    </td>
                    <div>
                    </div>
                    {% for title, key in indicator_mapping %}
                      <td>
                        {{ value_or_default(project_indicator_map['indicators'][key], '-') }}
                      </td>
                    {% endfor %}
                  </tr>
               {% endfor %}
               </tbody>
            </table>
         </div>
        {% else %}
          <div> {% trans %} No Projects found within {% endtrans %} {{ community.name }}</div>
        {% endif %}
      </div>
    </div>
    <!-- END SAMPLE TABLE PORTLET-->
</div>
{{response}}
{% endblock content %}