{% extends 'base.jinja2' %}
{% from 'macros/value_or_default.jinja2' import value_or_default %}
{% from 'macros/add_indicator_links.jinja2' import add_indicator_links %}
{% block title %}{{ title }} {% trans %}Community{% endtrans %}{% endblock %}
{% block page_title %}
  <h3 class="page-title">
    {{ self.title() }}
    <small></small>
  </h3>
{% endblock %}
{% block breadcrumbs %}
  <li>
      <a href="{{ request.route_url('counties', traverse=()) }}">{% trans %}County Indicators{% endtrans %}</a>

      <i class="icon-angle-right"></i>
  </li>
  <li>
      <a href="{{ request.route_url('counties',traverse=(community.constituency.sub_county.county.id)) }}">{{ community.constituency.sub_county.county.pretty }} {% trans %}County{% endtrans %}</a>
      <i class="icon-angle-right"></i>
  </li>
  <li>
      <a href="{{ request.route_url('sub_county',traverse=(community.constituency.sub_county.id)) }}">{{ community.constituency.sub_county.pretty }} {% trans %}Sub County{% endtrans %}</a>
      <i class="icon-angle-right"></i>
  </li>
  <li>
      <a href="{{ request.route_url('constituency',traverse=(community.constituency.id)) }}">{{ community.constituency.pretty }} {% trans %}Constituency{% endtrans %}</a>
      <i class="icon-angle-right"></i>
  </li>
  <li>
      {{ self.title() }}
  </li>

{% endblock %}
{% block indicators %}
  {{ add_indicator_links(request, 'community', community, 'impact') }}
{% endblock %}
{% block content %}
<div class="row">
<div class="col-md-12">
    <!-- BEGIN SAMPLE TABLE PORTLET-->
    <div class="portlet">
      <div class="portlet-title">
         <div class="caption"><i class="icon-tasks"></i>Projects</div>
      </div>
      <div class="portlet-body">
         <div class="table-responsive data-table">
            <table class="table table-striped table-bordered table-hover">
               <thead>
                  <tr>
                     {% for header in headers %}
                        <th>

                        {{ header }}

                        </th>
                     {% endfor %}

                  </tr>
               </thead>
               <tbody>
                {% for row in rows %}
                  <tr>
                     <td><a href="{{ request.route_url('projects', traverse=(row[0].id,'show' )) }}">{{ row[0].pretty }}</a></td>
                     {% for col in row[1:] %}
                        <td>{{ value_or_default(col|format_value(request), '-') }}</td>
                     {% endfor %}
                  </tr>
               {% endfor %}
                  <tr class="bold">
                        <td>  
                            {% trans %} Total Summary {% endtrans %}
                        </td>
                        {% for value in summary_row%}
                            <td>
                                {{ value_or_default(value|format_value(request), '-') }}
                            </td>
                        {% endfor %}
                  </tr>

               </tbody>
            </table>
         </div>
      </div>
    </div>
    <!-- END SAMPLE TABLE PORTLET-->
</div>
{% endblock content %}
