
{% extends 'base.jinja2' %}
{% from 'macros/value_or_default.jinja2' import value_or_default %}
{% block title %}{{ title }}{% endblock %}
{% block page_title %}
  <h3 class="page-title">
    All Counties
    <small></small>
  </h3>
{% endblock %}
{% block breadcrumbs %}
  <li>
      {% trans %}County Indicators{% endtrans %}
  </li>

{% endblock %}
{% block content %}
<div class="row">
<div class="col-md-12">
    <!-- BEGIN SAMPLE TABLE PORTLET-->
    <div class="portlet">
      <div class="portlet-title">
         <div class="caption"><i class="icon-tasks"></i>{% trans %}Counties{% endtrans %}</div>
      </div>
      <div class="portlet-body">
         <div class="">
            <table class="table table-hover table-responsive">
               <thead>
                  <tr>
                     {% for header in headers %}
                        <th>

                        {{ header }}

                        </th>
                     {% endfor %}

                  </tr>
               </thead>
               <tbody>
               <tr>
                  <td>
                    {% trans %} Total Summary {% endtrans %}
                  </td>
                  {% for value in summary_row%}
                    <td>
                        {{ value|default('-') }}
                    </td>
                  {% endfor %}
               </tr>
               {% for row in rows %}
                  <tr>
                     <td><a href="{{ request.route_url('counties', traverse=(row[0].id)) }}">{{ row[0].pretty }}</a></td>
                     {% for col in row[1:] %}
                        <td>{{ col|default('-') }}</td>
                     {% endfor %}
                  </tr>
               {% endfor %}
               </tbody>
            </table>
         </div>
      </div>
    </div>
    <!-- END SAMPLE TABLE PORTLET-->
</div>
{{response}}
</div>
{% endblock content %}
