{% extends 'base.jinja2' %}
{% from 'macros/value_or_default.jinja2' import value_or_default %}
{% from 'macros/add_indicator_links.jinja2' import add_indicator_links %}
{% from 'macros/generate_filter_criteria_dropdowns.jinja2' import  generate_filter_criteria_dropdowns %}
{% from 'macros/generate_map_chart.jinja2' import  generate_map_chart %}
{% from 'macros/update_selected_location_dropdowns.jinja2' import update_selected_location_dropdowns %}
{% from 'macros/generate_location_columns.jinja2' import generate_location_columns %}
{% block title %}{{ title }}{% endblock %}
{% block page_title %}
   <h3 class="page-title">
     All Counties
     <small></small>
   </h3>
{% endblock %}
{% block breadcrumbs %}
   <li>
       {% trans %}County Indicators{% endtrans %}
   </li>
{% endblock %}
{% block filters %}
     {{ generate_filter_criteria_dropdowns(filter_criteria, search_criteria) }}
{% endblock %}
{% block indicators %}
  {{ add_indicator_links(request, 'counties', None, 'impact') }}
{% endblock %}
{% block content %}
{{ generate_map_chart(request) }}
<div class="row">
<div class="col-md-12">
    <!-- BEGIN SAMPLE TABLE PORTLET-->
    <div class="portlet clearfix">
      <div class="portlet-title">
      
	        <span class="pull-right">
	            <a href="{{ request.route_url('counties', traverse=(),
	                _query={'format':'xlsx'})}}" class="btn btn-success download" role="button">
	                <i class="glyphicon glyphicon-download"></i> &nbsp;Download XLS 
	            </a>
	        </span>
      
        {% if location %}
          <div class="caption"><i class="icon-tasks"></i>{{location.pretty}} {{location.location_type|humanize()|title()}}</div>
        {% else %}
          <div class="caption"><i class=""></i>{% trans %}All Counties {% endtrans %}</div>
        {% endif %}
         <div class="tools">
        </div>
      </div>
      <div class="portlet-body clearfix">
         <div class="">
            <table class="table table-hover table-responsive" id="prjDatatable">
               <thead>
                  <tr>
                     {% for header in headers %}
                        <th>

                        {{ header }}

                        </th>
                     {% endfor %}
                  </tr>
               </thead>
               <tbody>
                {{ generate_location_columns(request, rows, summary_row, search_criteria, "impact") }}
               </tbody>
            </table>
         </div>
      </div>
    </div>
    <!-- END SAMPLE TABLE PORTLET-->
</div>
{{response}}
</div>
{% endblock content %}
{% block page_scripts %}
    <script src="{{ request.static_url('wkcdd:static/scripts/custom.js') }}"></script>
{% endblock %}
{% block jquery_ready %}
  {{ super() }}
  map = Custom.display_constituency_map();
  location_json_data = {{ filter_criteria["location_json_data"]|safe() }};
  LocationSelect.data_map = location_json_data;

  {{ update_selected_location_dropdowns(search_criteria) }}
  
{% endblock %}
