
{% extends 'base.jinja2' %}
{% from 'macros/value_or_default.jinja2' import value_or_default %}
{% from 'macros/add_indicator_links.jinja2' import add_indicator_links %}
{% from 'macros/generate_impact_indicator_table.jinja2' import generate_impact_indicator_table %}
{% block title %}{{ Projects }} {% endblock %}
{% block page_title %}
  <h3 class="page-title">
    All Counties
    <small></small>
  </h3>
{% endblock %}
{% block breadcrumbs %}
  <li>
      {% trans %}County Indicators{% endtrans %}
  </li>

{% endblock %}
{% block indicators %}
  {{ add_indicator_links(request, 'counties', '', 'impact') }}
{% endblock %}
{% block content %}
<div class="row">
<div class="col-md-12">
    <!-- BEGIN SAMPLE TABLE PORTLET-->
    <div class="portlet">
      <div class="portlet-title">
         <div class="caption"><i class="icon-tasks"></i>{% trans %}Counties{% endtrans %}</div>
      </div>
      {{ generate_impact_indicator_table(request, '', 'counties',  counties, impact_indicators, impact_indicator_mapping)}}
    </div>
    <!-- END SAMPLE TABLE PORTLET-->
</div>
{{response}}
</div>
{% endblock content %}
