{% extends 'base.jinja2' %}
{% from 'macros/value_or_default.jinja2' import value_or_default %}
{% from 'macros/add_indicator_links.jinja2' import add_indicator_links %}
{% block title %}{{ Projects }} {% endblock %}
{% block page_title %}
  <h3 class="page-title">
    {{ county.name | capitalize }} County
    <small></small>
  </h3>
{% endblock %}
{% block breadcrumbs %}
  <li>
      <a href="{{ request.route_url('counties', traverse=()) }}">{% trans %}County Indicators{% endtrans %}</a>
      <i class="icon-angle-right"></i>
  </li>
  <li>
      {{ county.name | capitalize }} County
  </li>

{% endblock %}
{% block indicators %}
  {{ add_indicator_links(request, 'counties', county) }}
{% endblock %}
{% block content %}
<div class="col-md-12">
    <!-- BEGIN SAMPLE TABLE PORTLET-->
    <div class="portlet">
      <div class="portlet-title">
         <div class="caption"><i class="icon-tasks"></i>{% trans %}Sub-Counties{% endtrans %}</div>
      </div>
      <div class="portlet-body">
         <div class="table-responsive">
            <table class="table table-striped table-bordered table-hover">
               {% include 'impact_indicator_table_head.jinja2' %}
               <tbody>
               <tr>
                  <td>
                    {% trans %} Total Summary {% endtrans %}
                  </td>
                  {% for indicator in impact_indicator_mapping %}
                    <td>
                        {{ impact_indicators['total_indicator_summary'][indicator.key]|default('-') }}
                    </td>
                  {% endfor %}
               </tr>
               {% for sub_county in sub_counties %}
                  <tr>
                     <td><a href="{{ request.route_url('sub_county', traverse=sub_county.id) }}">{{ sub_county.name | capitalize }}</a></td>
                     {% for indicator in impact_indicator_mapping %}
                        <td>
                         {{  impact_indicators['aggregated_impact_indicators'][sub_county.id]['summary'][indicator.key]|default('-') }}
                        </td>
                     {% endfor %}
                  </tr>
               {% endfor %}
               </tbody>
            </table>
         </div>
      </div>
    </div>
    <!-- END SAMPLE TABLE PORTLET-->
</div>
{{response}}
{% endblock content %}