{% extends 'base.jinja2' %}
{% from 'macros/value_or_default.jinja2' import value_or_default %}
{% from 'macros/add_indicator_links.jinja2' import add_indicator_links %}
{% from 'macros/generate_filter_criteria_dropdowns.jinja2' import  generate_filter_criteria_dropdowns %}
{% from 'macros/generate_performance_indicator_row.jinja2' import generate_performance_indicator_row %}
{% from 'macros/generate_map_chart.jinja2' import  generate_map_chart %}
{% from 'macros/generate_project_type_dropdown.jinja2' import  generate_project_type_dropdown %}
{% block title %} {{ title }}{% endblock %}
{% set selected_project_type = search_criteria['selected_project_type']%}
{% block page_title %}
  <h3 class="page-title">
      {{ self.title() }}
    <small></small>
  </h3>
{% endblock %}
{% block filters %}
     {{ generate_filter_criteria_dropdowns(filter_criteria, search_criteria) }}
{% endblock %}
{% block breadcrumbs %}
  <li>
      <a href="{{ request.route_url('counties', traverse=()) }}">{% trans %}County Indicators{% endtrans %}</a>
      <i class="icon-angle-right"></i>
  </li>
  <li>
    {{ self.title() }}
  </li>
{% endblock %}
{% block indicators %}
  {{ add_indicator_links(request, 'counties', None, 'performance') }}
{% endblock %}
{% block content %}
<!--MAP-->
{% if selected_project_type %}
  {{ generate_map_chart(request, sector_indicator_mapping[selected_project_type]) }}
{% endif %}
<!--END MAP-->

<!--PROJECT TYPE DROP DOWN-->
{{ generate_project_type_dropdown(request, search_criteria['selected_project_label'], 'counties', '', project_types, search_criteria)}}

<!--PERFORMANCE INDICATOR TABLES-->
{% if selected_project_type %}
  {% if location %}
    {{ generate_performance_indicator_row(request, search_criteria['selected_project_label'], location.url, sector_aggregated_indicators[selected_project_type]) }}
  {% else %}
    {{ generate_performance_indicator_row(request, search_criteria['selected_project_label'], 'counties', sector_aggregated_indicators[selected_project_type]) }}
  {% endif %}
{% else %}

  {% for sector, report, label in project_types %}
    {% if location %}
      {{ generate_performance_indicator_row(request, label, location.url, sector_aggregated_indicators[sector], search_criteria) }}
    {% else %}
      {{ generate_performance_indicator_row(request, label, 'counties', sector_aggregated_indicators[sector], search_criteria) }}
    {% endif %}
  {% endfor %}

{% endif %}
<!--PERFORMANCE INDICATOR TABLES END-->
{% endblock content %}
{% block page_scripts %}
    <script src="{{ request.static_url('wkcdd:static/scripts/custom.js') }}"></script>
{% endblock %}
{% block jquery_ready %}
  {{ super() }}
  location_json_data = {{ filter_criteria["location_json_data"]|safe() }};
  LocationSelect.data_map = location_json_data;
  {% if selected_project_type %}
    map = Custom.display_constituency_map();
    Custom.process_raw_points({{ project_type_geopoints[selected_project_type]|safe() }}, map);
  {% endif %}
{% endblock %}