{% extends 'base.jinja2' %}
{% from 'macros/generate_filter_criteria_dropdowns.jinja2' import  generate_filter_criteria_dropdowns %}
{% from 'macros/add_indicator_links.jinja2' import  add_indicator_links %}
{% from 'macros/update_selected_location_dropdowns.jinja2' import update_selected_location_dropdowns %}
{% block title %}{% trans %} Impact Indicators {% endtrans %}{% endblock %}

{% block page_title %}
  <h3 class="page-title">
    {{ self.title() }} {% trans %}Trends {% endtrans %}
    <small></small>
  </h3>
{% endblock %}

{% block filters %}
    {% with search_criteria=search_criteria, filter_criteria=filter_criteria %}
        <div>
            <div class="col-md-12">
                <div class="clearfix filters">
                    <form id="filter_criteria" class="form-inline" method="get">
                      {% include 'trend_filters.jinja2' %}
                    </form>
                </div>
            </div>
        </div>
    {% endwith %}
{% endblock %}

{% block content %}
    {% with request=request, search_criteria=search_criteria, filter_criteria=filter_criteria, location=location %}
        {% include 'trend_nav_links.jinja2'%}
    {% endwith %}
    <div class="row">
        <div class="col-md-12">
        <div class="portlet-title">
          <div class="tools pull-left">
              <a href="" class="collapse"></a>
            </div>
        </div>
        <div class="portlet-body">
            {% if time_series %}
                <div class="row">
                    <div class="col-md-12">
                        <div class="btn-group pull-right">
                            <a href="" class="btn btn-info btn-sm dropdown-toggle" data-toggle="dropdown" data-hover="dropdown" data-close-others="true">
                                <span class="selected-trend-indicator">{{indicators[0].label}}</span> <span class="icon-angle-down"></span>
                            </a>
                            <ul class="dropdown-menu select-sector">
                            {% for indicator in indicators %}
                              <li><a href="javascript:;" class="trend-indicator-selector" data-indicator="{{ indicator.key }}"> {{ indicator.label }}</a></li>
                            {% endfor %}
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                      {% include 'chart.jinja2' %}
                    </div>                      
                </div>
            {% else %}
                <div class="panel panel-info">
                  <div class="panel-body">
                    {% trans %} No data available for the selected period{% endtrans %}
                  </div>
                </div>
            {% endif %}

        </div>
    </div>
{% endblock %}
{% block page_scripts %}
    <script src="{{ request.static_url('wkcdd:static/jqplot/jquery.jqplot.min.js') }}"></script>
    <script src="{{ request.static_url('wkcdd:static/jqplot/jqplot.barRenderer.min.js') }}"></script>
    <script src="{{ request.static_url('wkcdd:static/jqplot/jqplot.categoryAxisRenderer.min.js') }}"></script>
    <script src="{{ request.static_url('wkcdd:static/jqplot/jqplot.cursor.min.js') }}"></script>
    <script src="{{ request.static_url('wkcdd:static/jqplot/jqplot.pointLabels.min.js') }}"></script>
    <script src="{{ request.static_url('wkcdd:static/jqplot/jqplot.enhancedLegendRenderer.js') }}"></script>
    <script src="{{ request.static_url('wkcdd:static/scripts/custom.js') }}"></script>
    <script src="{{ request.static_url('wkcdd:static/scripts/wkcdd-charts.js') }}"></script>
{% endblock %}
{% block jquery_ready %}
    {{ super() }}

    location_json_data = {{ filter_criteria["location_json_data"]|safe() }};
    LocationSelect.data_map = location_json_data;

    {% if time_series %}
        chartDataSet = {{ chart_dataset | safe() }};
        TrendCharts.chartDataSet = chartDataSet;
        
        selected_indicator = '{{indicators[0]['key']}}';
        selected_series = chartDataSet.series[selected_indicator];
        $('#chart').empty();
        TrendCharts.drawTrend(selected_series, chartDataSet.seriesLabels);
    {% endif %}

    {{ update_selected_location_dropdowns(search_criteria) }}

{% endblock %}