{% extends 'base.jinja2' %}
{% from 'macros/generate_filter_criteria_dropdowns.jinja2' import  generate_filter_criteria_dropdowns %}
{% from 'macros/add_indicator_links.jinja2' import  add_indicator_links %}
{% from 'macros/update_selected_location_dropdowns.jinja2' import update_selected_location_dropdowns %}
{% block title %}{% trans %}Impact Indicators {% endtrans %}{% endblock %}

{% set view_by = search_criteria['view_by']%}
{% set period = search_criteria['period']%}
{% set month_or_quarter = search_criteria['month_or_quarter']%}

{% block page_title %}
  <h3 class="page-title">
    {{ self.title() }}
    <small></small>
  </h3>
{% endblock %}

{% block breadcrumbs %}
  <li>{{ self.title() }}</li>
  <li><a href="#"> </a></li>
{% endblock %}

{% block filters %}
     {{ generate_filter_criteria_dropdowns(request, filter_criteria, search_criteria) }}
{% endblock %}

{% block content %}
  {{ add_indicator_links(request, location, search_criteria) }}
  
  <div class="row">
    <div class="col-md-12">
      <div class="portlet">
        <div class="portlet-title">
          <div class="tools pull-left">
              <a href="" class="collapse"></a>
            </div>
        </div>
        <div class="portlet-body">
          <div class="row map_chart">
            <div class="md-col-12">
              <div class="btn-toolbar margin-bottom-10">
                <div class="btn-group" id="project_sel">
                  <a href="" class="btn btn-default btn-sm dropdown-toggle" data-toggle="dropdown" data-hover="dropdown" data-close-others="true">
                    <span class="selected-indicator">Select Indicator</span> <span class="icon-angle-down"></span>
                  </a>
                  <ul class="dropdown-menu select-sector">
                    {% for indicator in indicators %}
                      <li><a href="javascript:;" class="indicator-selector" data-indicator="{{ indicator.key }}"> {{ indicator.label }}</a></li>
                    {% endfor %}
                  </ul>
                </div>
              </div>
            </div>
          </div>
          <div class="row">
            <!-- Render map -->
            <div class="col-md-6">
              <div id="maps-content" class="display-none" style="display: block;">
                <div id="map"></div>
              </div>
            </div>

            <!-- Render chart view -->
            <div class="col-md-6">
              {% include 'chart.jinja2' %}
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>  
  <div class="row">
    <div class="col-md-12">
      <!-- BEGIN SAMPLE TABLE PORTLET-->
      <div class="portlet">
        <div class="portlet-title">
          <div class="caption">
            <i class="icon-tasks"></i>
            {% if location %}
              {{ location.pretty }} {{ location.location_type | humanize() | title()}}
            {% else %}
              {% trans %}All Counties{% endtrans %}
            {% endif %}
          </div>
          <span class="pull-right">
            {% if location %}
              <a href="{{ request.route_url('impact_indicators', traverse=(location.id),
                  _query={'format':'xlsx', 'view_by': view_by, 'month_or_quarter': month_or_quarter, 'period': period} )}}" class="btn btn-success download" role="button">
                  <i class="glyphicon glyphicon-download"></i> &nbsp;Download XLS 
              </a>
            {% else %}
              <a href="{{ request.route_url('impact_indicators', traverse=(),
                  _query={'format':'xlsx', 'view_by': view_by, 'month_or_quarter': month_or_quarter, 'period': period} )}}" class="btn btn-success download" role="button">
                  <i class="glyphicon glyphicon-download"></i> &nbsp;Download XLS 
              </a>
            {% endif %}
          </span>
        </div>
        <div class="portlet-body clearfix">
            <table class="table table-striped table-bordered table-hover wk-datatable-"
            	 data-mode="swipe" data-minimap data-sortable>
              <thead>
              <tr>
              {% if target_class %}
                <th data-priority="persist">{{target_class.__name__}}</th>
              {% else %}
                <th data-priority="persist">{% trans %}County{% endtrans %}</th>
              {% endif %}
                {% for indicator in indicators %}
                  <th data-priority="3">{{ indicator.label }}</th>
                {% endfor %}
              </tr>
              </thead>

              <tbody>
              {% for row in rows %}
                <tr>
                  <td>
                    <a href="{{row.location.url(request, 'impact_indicators', {'month_or_quarter': month_or_quarter, 'period': period}) }}">{{ row.location.pretty }}</a>
                  </td>
                  {% for indicator in indicators %}
                    <td>{{ row.indicators[indicator.key] }}</td>
                  {% endfor %}
                </tr>
              {% endfor %}
				</tbody>
				<tfoot>
              <tr class="bold">
                <td>
                  {% trans %} Total Summary {% endtrans %}
                </td>
                {% for indicator in indicators %}
                  <td>{{ summary_row[indicator.key] }}</td>
                {% endfor %}
              </tr>
              </tfoot>
            </table>
        </div>
      </div>
      <!-- END SAMPLE TABLE PORTLET-->
    </div>
  </div>
{% endblock %}
{% block page_scripts %}
    <script src="{{ request.static_url('wkcdd:static/jqplot/jquery.jqplot.min.js') }}"></script>
    <script src="{{ request.static_url('wkcdd:static/jqplot/jqplot.barRenderer.min.js') }}"></script>
    <script src="{{ request.static_url('wkcdd:static/jqplot/jqplot.categoryAxisRenderer.min.js') }}"></script>
    <script src="{{ request.static_url('wkcdd:static/jqplot/jqplot.cursor.min.js') }}"></script>
    <script src="{{ request.static_url('wkcdd:static/jqplot/jqplot.pointLabels.min.js') }}"></script>
    <script src="{{ request.static_url('wkcdd:static/jqplot/jqplot.enhancedLegendRenderer.js') }}"></script>
    <script src="{{ request.static_url('wkcdd:static/scripts/custom.js') }}"></script>
    <script src="{{ request.static_url('wkcdd:static/scripts/map.js') }}"></script>
{% endblock %}
{% block jquery_ready %}
  {{ super() }}
  location_json_data = {{ filter_criteria["location_json_data"]|safe() }};
  LocationSelect.data_map = location_json_data;
  LocationSelect.url = '{{ request.route_path('impact_indicators', traverse=()) }}';
  var geo_locations = {{ geo_locations|safe() }};
  Map.displayMarkers(geo_locations);

  var data = {
    {% for row in rows -%}
      '{{ row.location.pretty }}': {
        {% for indicator in indicators -%}
          '{{ indicator.key  }}': {
            label: '{{ indicator.label }}',
            value: '{{ row.indicators[indicator.key] }}'
        },
        {%  endfor %}
      },
    {% endfor %}
  };
  Map.setData(data, true);

  var view_by = '{{ view_by }}';
  var base_url = 'ona.i42dk97b';
  var json_url = '';
  
  if(view_by == 'counties'){
  	base_url = 'ona.i3hg15g5';
  	json_url = 'wkcdd-counties.geojson';
  }
  else if(view_by == 'sub_counties'){
  	base_url = 'ona.i42efo92';
  	json_url = 'wkcdd-subcounties.geojson';
  }
  else if(view_by == 'constituencies'){
  	base_url = 'ona.i3hmlj38';
  	json_url = 'wkcdd-constituencies.geojson';
  }
  else if(view_by == 'communities'){
  	base_url = 'ona.i9n8iffk';
  	json_url = 'wkcdd-communities.geojson';
  }
  
  //Load aggregate geo-jsondata
  function loadJSONLayer(url){
  	  var json_url = url;
  	  
	  // load json layer
	  $.ajax("{{ request.static_url('wkcdd:static/geodata/') }}" + json_url, {
	    dataType: 'json'
	  }).done(function(data, status){
	    Map.setGeoJSON(data);
	  });
  }
  Map.initBaseMap(base_url);
  loadJSONLayer(json_url);

  // Draw bar chart
  Custom.setChartDataset({{ chart_dataset | safe() }})

  {{ update_selected_location_dropdowns(search_criteria) }}
{% endblock %}
