<thead>
  <tr>
     <th data-priority="persist" data-sortable-default-col>{% trans %} Name {% endtrans %}</th>
     {% for indicator in impact_indicator_mapping %}
        <th data-priority="3" data-sortable-default-col>
         {{ indicator.title | replace ('Number of', '#') }}
        </th>
     {% endfor %}
  </tr>
</thead>
