{% extends 'base.jinja2' %}
{% from 'macros/generate_filter_criteria_dropdowns.jinja2' import  generate_filter_criteria_dropdowns %}
{% from 'macros/add_indicator_links.jinja2' import  add_indicator_links %}
{% from 'macros/generate_project_type_dropdown.jinja2' import generate_project_type_dropdown %}
{% from 'macros/performance_indicator_table.jinja2' import performance_indicator_table %}
{% from 'macros/update_selected_location_dropdowns.jinja2' import update_selected_location_dropdowns %}

{% set selected_sector = search_criteria.selected_sector %}
{% set view_by = search_criteria['view_by']%}

{% block title %}{% trans %}Performance Indicators{% endtrans %}{% endblock %}

{% block page_title %}
  <h3 class="page-title">
    {{ self.title() }}
    <small></small>
  </h3>
{% endblock %}

{% block breadcrumbs %}
  <li>{{ self.title() }}</li>
  <li><a href="#"> </a></li>
{% endblock %}

{% block filters %}
     {{ generate_filter_criteria_dropdowns(request, filter_criteria, search_criteria) }}
{% endblock %}

{% block content %}
    <!-- Loop though the different sectors -->
    {{ add_indicator_links(request, location, search_criteria) }}

    {{ generate_project_type_dropdown(request, sectors, search_criteria) }}
    
    {% if selected_sector %}
      {% set sector, label = selected_sector.sector, selected_sector.label %}
      {% set rows = sector_data[sector].rows %}
      {% set summary_row = sector_data[sector].summary_row %}
      {% set indicators = sector_indicators[sector] %}
        <div class="row">
          <div class="col-md-12">
            <div class="portlet">
              <div class="portlet-title">
                <div class="tools pull-left">
                    <a href="" class="collapse"></a>
                  </div>
              </div>
              <div class="portlet-body">
                <div class="row map_chart">
                  <div class="col-md-12">
                      <div class="btn-toolbar margin-bottom-10">
                        <div class="btn-group" id="project_sel">
                          <a href="" class="btn btn-default btn-sm dropdown-toggle" data-toggle="dropdown" data-hover="dropdown" data-close-others="true">
                            <span class="selected-indicator">Select Indicator</span> <span class="icon-angle-down"></span>
                          </a>
                          <ul class="dropdown-menu select-sector">
                            {% for indicator in indicators %}
                              {% set label = indicator[0] -%}
                              {% set key = indicator[1][2] -%}
                              <li><a href="javascript:;" class="indicator-selector" data-indicator="{{ key }}"> {{ label }}</a></li>
                            {% endfor %}
                          </ul>
                        </div>
                      </div>
                  </div>
                </div>
                <div class="row">
                  <!-- Show map chart if only one sector is selected -->
                  <div class="col-md-6">
                    <div id="maps-content" class="display-none" style="display: block;">
                      <div id="map"></div>
                    </div>
                  </div>

                  <!-- Show performance indicator chart for selected sector -->
                  <div class="col-md-6">
                    {% include 'chart.jinja2' %}
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

      {{ performance_indicator_table(request, location, target_class, sector, label, rows, summary_row, indicators, search_criteria )}}
    {% else %}

      {% for sector, report, label in sectors %}

        {% set rows = sector_data[sector].rows %}
        {% set summary_row = sector_data[sector].summary_row %}
        {% set indicators = sector_indicators[sector] %}
        {{ performance_indicator_table(request, location, target_class, sector, label, rows, summary_row, indicators, search_criteria )}}

      {% endfor %}
    {% endif%}

{% endblock %}
{% block page_scripts %}
    <script src="{{ request.static_url('wkcdd:static/jqplot/jquery.jqplot.min.js') }}"></script>
    <script src="{{ request.static_url('wkcdd:static/jqplot/jqplot.barRenderer.min.js') }}"></script>
    <script src="{{ request.static_url('wkcdd:static/jqplot/jqplot.categoryAxisRenderer.min.js') }}"></script>
    <script src="{{ request.static_url('wkcdd:static/jqplot/jqplot.cursor.min.js') }}"></script>
    <script src="{{ request.static_url('wkcdd:static/jqplot/jqplot.pointLabels.min.js') }}"></script>
    <script src="{{ request.static_url('wkcdd:static/jqplot/jqplot.enhancedLegendRenderer.js') }}"></script>
    <script src="{{ request.static_url('wkcdd:static/scripts/custom.js') }}"></script>
    {% if selected_sector %}
    <script src="{{ request.static_url('wkcdd:static/scripts/map.js') }}"></script>
    {% endif %}
{% endblock %}
{% block jquery_ready %}
  {{ super() }}
  
  location_json_data = {{ filter_criteria["location_json_data"]|safe() }};
  LocationSelect.data_map = location_json_data;
  LocationSelect.url = '{{ request.route_path('performance_indicators', traverse=()) }}';

  {% if selected_sector %}
    {% set sector = selected_sector.sector %}
    {% set rows = sector_data[sector].rows %}
    {% set indicators = sector_indicators[sector] %}
    var point_data = {{ geo_locations|safe() }};
    Map.displayMarkers(point_data);

    var data = {
    {% for row in rows -%}
      '{{ row.location.pretty }}': {
        {% for indicator in indicators -%}
          {% set label = indicator[0] -%}
          {% set key = indicator[1][2] -%}
          {% set value = row.indicators[key] -%}
          {% if value %}
          '{{ key }}': {
            label: '{{ label }}',
            value: '{{ value }}'
          },
          {%- endif %}
        {%- endfor %}
      },
    {%- endfor %}
  };
  
   Map.setData(data, false);

  var view_by = '{{ view_by }}';
  var base_url = '';
  var json_url = '';
  
  if(view_by == 'counties' || view_by == 'None'){
  	base_url = 'ona.i42dk97b'; //ona.i3hg15g5
  	json_url = 'wkcdd-counties.geojson';
  }
  else if(view_by == 'sub_counties'){
  	base_url = 'ona.i42efo92';
  	json_url = 'wkcdd-subcounties.geojson';
  }
  else if(view_by == 'constituencies'){
  	base_url = 'ona.i3hmlj38';
  	json_url = 'wkcdd-constituencies.geojson';
  }
  else if(view_by == 'communities'){
  	base_url = 'ona.i9n8iffk';
  	json_url = 'wkcdd-communities.geojson';
  }
  
  //Load aggregate geo-jsondata
  function loadJSONLayer(url){
  	  var json_url = url;
  	  
	  // load json layer
	  $.ajax("{{ request.static_url('wkcdd:static/geodata/') }}" + json_url, {
	    dataType: 'json'
	  }).done(function(data, status){
	    Map.setGeoJSON(data);
	  });
  }
  Map.initBaseMap(base_url);
  loadJSONLayer(json_url);
      
   // Draw bar chart
   Custom.setChartDataset({{ chart_dataset | safe() }})
  {% endif %}

  {{ update_selected_location_dropdowns(search_criteria) }}
{% endblock %}    
