{% extends 'base.jinja2' %}
{% from 'macros/generate_filter_criteria_dropdowns.jinja2' import  generate_filter_criteria_dropdowns %}
{% from 'macros/generate_map_chart.jinja2' import  generate_map_chart %}
{% from 'macros/generate_project_type_dropdown.jinja2' import generate_project_type_dropdown %}
{% from 'macros/performance_indicator_table.jinja2' import performance_indicator_table %}
{% from 'macros/update_selected_location_dropdowns.jinja2' import update_selected_location_dropdowns %}

{% block title %}{% trans %}Performance Indicators{% endtrans %}{% endblock %}

{% block page_title %}
  <h3 class="page-title">
    {{ self.title() }}
    <small></small>
  </h3>
{% endblock %}

{% block breadcrumbs %}
  <li>{{ self.title() }}</li>
  <li><a href="#"> </a></li>
{% endblock %}

{% block filters %}
     {{ generate_filter_criteria_dropdowns(request, filter_criteria, search_criteria) }}
{% endblock %}

{% block content %}
    <!-- Loop though the different sectors -->
    {{ generate_project_type_dropdown(request, sectors, search_criteria) }}
    
    {% set selected_sector = search_criteria.selected_sector %}
    
    {% if selected_sector %}
      <!-- Show map chart if only one sector is selected -->
      {{ generate_map_chart(request) }}

      {% set sector, label = selected_sector.sector, selected_sector.label %}
      {% set rows = sector_data[sector].rows %}
      {% set summary_row = sector_data[sector].summary_row %}
      {% set indicators = sector_indicators[sector] %}
      {{ performance_indicator_table(request, location, target_class, sector, label, rows, summary_row, indicators, search_criteria )}}
    {% else %}

      {% for sector, report, label in sectors %}

        {% set rows = sector_data[sector].rows %}
        {% set summary_row = sector_data[sector].summary_row %}
        {% set indicators = sector_indicators[sector] %}
        {{ performance_indicator_table(request, location, target_class, sector, label, rows, summary_row, indicators, search_criteria )}}

      {% endfor %}
    {% endif%}

{% endblock %}
{% block page_scripts %}
    <script src="{{ request.static_url('wkcdd:static/scripts/custom.js') }}"></script>
{% endblock %}
{% block jquery_ready %}
  {{ super() }}
  map = Custom.display_constituency_map();
  
  location_json_data = {{ filter_criteria["location_json_data"]|safe() }};
  LocationSelect.data_map = location_json_data;
  LocationSelect.url = '{{ request.route_path('performance_indicators', traverse=()) }}'

  {{ update_selected_location_dropdowns(search_criteria) }}
{% endblock %}    
