{% set months = {1:'January', 2:'February', 3:'March', 4:'April', 5:'May', 6:'June', 7:'July', 8:'August', 9:'September', 10:'October', 11:'November', 12:'December'}%}

<label>{{ period_label or 'Select Report Period:' }} </label>
<div class="form-group col-xs-6">
   <select name="{{ month_quarter_select_name or 'month_or_quarter'}}" class="form-control select2me">
      <option value="" data-time-class="month">{{month_quarter_label or "Month/Quarter"}}</option>
      {% if quarters %}
         {% for quarter in quarters|sort %}
            <option value="{{ quarter }}"
               {% if month_or_quarter == '{}'.format(quarter) %}
                  selected
               {% endif %} 
               data-time-class="quarter"
            >
               {{ quarter | replace("q_", "Quarter ") }}
         {% endfor %}
      {% endif %}
      {% if months_present %}
         <option value="">-------</option>
         {% for key, month in months.iteritems() if key in months_present %}
            <option value="{{key}}"
               {% if month_or_quarter == key | string %}
                  selected
               {% endif %} 
               data-time-class="month"
            >
               {% trans %}{{month}}{% endtrans %}
            </option>
         {% endfor %}
      {% endif %}
   </select>
</div>
<div class="col-xs-6">
   <select name="{{ period_select_name or 'period'}}" class="form-control select2me">
      <option value="" data-time-class="year">{% trans %} Year {% endtrans %}</option>
      {% if years %}
         {% for year in years|sort %}
            <option value="{{year}}"
               {% if period == year %}
                  selected
               {% endif %} 
               data-time-class="year"
            >
               {{ year | replace("_", " to 20") | replace("-", " to 20") }}
            </option>
         {% endfor %}
      {% endif %}
   </select>
</div>