{% extends 'base.jinja2' %}
{% from 'macros/update_selected_location_dropdowns.jinja2' import update_selected_location_dropdowns %}
{% block title %}{{ Projects }} {% endblock %}
{% block page_title %}
  <h3 class="page-title">
    {% trans %} Projects {% endtrans %}
    <small></small>
  </h3>
{% endblock %}
{% block breadcrumbs %}
  <li>Projects</li>
  <li><a href="#"> </a></li>
{% endblock %}
{% block content %}
<div class="row">
    <div class="col-md-12">
        <div id="map"></div>
    </div>
</div>
<div class="row">
  <div class="col-md-12">
    <!-- BEGIN SAMPLE TABLE PORTLET-->
    <div class="portlet">
      <div class="portlet-title">
         <div class="caption"><i class="icon-tasks"></i>Projects</div>
      </div>
      <div class="portlet-body">
         <div class="row">
             <div class="col-md-4">
                <div class="input-icon right">
                   <input id="search_term"
                          type="text"
                          class="form-control input-medium input-sm"
                          name="search_project"
                          placeholder="Search..."
                          value="{{search_criteria['name']}}">
                </div>
             </div>
             <div class="col-md-8">
                <form id="filter_criteria" class="form-inline" method="get">
                <input hidden name="filter" value="1" type="text"/>
                <select  name="sector" class="form-control input-small select2me" data-placeholder="Select...">
                    <option value="">--Sector--</option>
                    {% for key, value in filter_criteria["sectors"] %}
                        <option value="{{ key }}"
                        {%if search_criteria["sector"] == key%}
                            selected
                        {%endif%}
                        >
                    {{ value }}</option>
                    {% endfor %}
                </select>
                <select name="county" class="form-control input-small select2me" data-placeholder="Select..." onchange="LocationSelect.level0ChangeListener(this);">
                    <option value="">--County--</option>
                    {% for county in filter_criteria["counties"] %}
                        <option value="{{ county.id }}"
                        {%if search_criteria["location_map"]["county"] == (county.id | string)%}
                            selected
                        {%endif%}
                        >
                    {{ county.pretty }}</option>
                    {% endfor %}
                </select>
                <select name="sub_county" class="form-control input-small select2me" data-placeholder="Select..." onchange="LocationSelect.level1ChangeListener(this);">
                    <option value="">--Sub-County--</option>
                    {% for sub_county in filter_criteria["sub_counties"] %}
                        <option value="{{ sub_county.id }}"
                        {%if search_criteria["location_map"]["sub_county"] == (sub_county.id | string)%}
                            selected
                        {%endif%}
                        >
                    {{ sub_county.pretty }}</option>
                    {% endfor %}
                </select>
                <select name="constituency" class="form-control input-small select2me" data-placeholder="Select..." onchange="LocationSelect.level2ChangeListener(this);">
                    <option value="">--Constituency--</option>
                    {% for constituency in filter_criteria["constituencies"] %}
                        <option value="{{ constituency.id }}"
                        {%if search_criteria["location_map"]["constituency"] == (constituency.id | string)%}
                            selected
                        {%endif%}
                        >{{ constituency.pretty }}</option>
                    {% endfor %}
                </select>
                <select  name="community" class="form-control input-small select2me" data-placeholder="Select..." onchange="LocationSelect.level3ChangeListener(this);">
                    <option value="">--Community--</option>
                    {% for community in filter_criteria["communities"] %}
                        <option value="{{ community.id }}"
                        {%if search_criteria["location_map"]["community"] == (community.id | string)%}
                            selected
                        {%endif%}
                        >{{ community.pretty }}</option>
                    {% endfor %}
                </select>
                <button type="submit" class="btn btn-info"><i class="icon-filter"></i> Filter</button>
                </form>
             </div>
         </div>
         <div class="table-responsive">
            <table class="table table-striped table-bordered table-hover">
               <thead>
                  <tr>
                     <th>{% trans %} Name {% endtrans %}</th>
                     <th>{% trans %} Sector {% endtrans %}</th>
                     <th>{% trans %} County  {% endtrans %}</th>
                     <th>{% trans %} Sub-county {% endtrans %}</th>
                     <th>{% trans %} Constituency {% endtrans %}</th>
                     <th>{% trans %} Community {% endtrans %}</th>
                  </tr>
               </thead>
               <tbody>
               {% for project in projects %}
                  <tr>
                     <td><a href="{{ request.route_url('projects', traverse=(project.id, 'show')) }}">{{ project.name }}</a></td>
                     <td>{{ project.sector_name }}</td>
                     <td>{{ locations[project.id][0].pretty}}</td>
                     <td>{{ locations[project.id][1].pretty}}</td>
                     <td>{{ locations[project.id][2].pretty }}</td>
                     <td>{{ project.community.pretty }}</td>
                  </tr>
               {% endfor %}
               </tbody>
            </table>
         </div>
      </div>
    </div>
    <!-- END SAMPLE TABLE PORTLET-->
  </div>
</div>
{% endblock content %}
{% block page_scripts %}
    <script src="{{ request.static_url('wkcdd:static/scripts/custom.js') }}"></script>
{% endblock %}
{% block jquery_ready %}
  {{ super() }}
  map = Custom.display_constituency_map();
  location_json_data = {{ filter_criteria["location_json_data"]|safe() }};
  LocationSelect.data_map = location_json_data;
  Custom.searchProjectsTable();
  Custom.process_raw_points({{ project_geopoints|safe() }}, map);

  {{ update_selected_location_dropdowns(search_criteria['location_map']) }}
{% endblock %}

