{% extends 'base.jinja2' %}
{% from 'macros/update_selected_location_dropdowns.jinja2' import update_selected_location_dropdowns %}
{% from 'macros/filter_criteria_options.jinja2' import filter_criteria_options %}
{% block title %}{{ Projects }} {% endblock %}
{% block page_title %}
  <h3 class="page-title">
    {% trans %} Projects {% endtrans %}
  </h3>
{% endblock %}
{% block breadcrumbs %}
  <li>Projects</li>
  <li><a href="#"> </a></li>
{% endblock %}
{% block content %}
<div class="row">
    <div class="col-md-12">
        <div id="map"></div>
    </div>
</div>
<div class="row">
  <div class="col-md-12">
    <!-- BEGIN SAMPLE TABLE PORTLET-->
    <div class="portlet clearfix">
      <div class="portlet-title">
         <div class="caption"><i class="icon-tasks"></i>Projects</div>
      </div>
      <div class="portlet-body clearfix">
         <div id="filter_box" class="col-md-12 clearfix">
            <form id="filter_criteria" class="form-inline" method="get">
            	<div class="clearfix">
            		<div class="col-xs-8 search-txt clearfix">
		               <input id="search_term"
		                      type="text"
		                      class="form-control col-md-8"
		                      name="search_project"
		                      placeholder="Search Projects..."
		                      value="{{search_criteria['name']}}">
		            </div>
		            <div class="col-xs-2">
		            	<input hidden name="filter" value="1" type="text"/>
		              <select  name="sector" class="form-control select2me" data-placeholder="Select...">
		                  <option value="">--Sector--</option>
		                  {% for key, value in filter_criteria["sectors"] %}
		                      <option value="{{ key }}"
		                      {%if search_criteria["sector"] == key%}
		                          selected
		                      {%endif%}
		                      >
		                  {{ value }}</option>
		                  {% endfor %}
		              </select>
		            </div>
            	</div>
	            <div class="col-xs-2">
	            	<select name="county" class="form-control select2me" data-placeholder="Select..." onchange="LocationSelect.level0ChangeListener(this);">
                  <option value="">--County--</option>
                  {{ filter_criteria_options(request, filter_criteria, search_criteria['location_map'], "counties", "county" ) }}
              </select>
	            </div>
	            <div class="col-xs-2">
	            	<select name="sub_county" class="form-control select2me" data-placeholder="Select..." onchange="LocationSelect.level1ChangeListener(this);">
                  <option value="">--Sub-County--</option>
                   {{ filter_criteria_options(request, filter_criteria, search_criteria['location_map'], "sub_counties", "sub_county" ) }}
              </select>
	            </div>
	            <div class="col-xs-2">
	            	<select name="constituency" class="form-control select2me" data-placeholder="Select..." onchange="LocationSelect.level2ChangeListener(this);">
                  <option value="">--Constituency--</option>
                   {{ filter_criteria_options(request, filter_criteria, search_criteria['location_map'], "constituencies", "constituency" ) }}
              </select>
	            </div>
	            <div class="col-xs-2">
	            	<select  name="community" class="form-control select2me" data-placeholder="Select..." onchange="LocationSelect.level3ChangeListener(this);">
                  <option value="">--Community--</option>
                    {{ filter_criteria_options(request, filter_criteria, search_criteria['location_map'], "communities", "community" ) }}
              </select>
	            </div>
	            <div class="col-xs-8">
	            	<button type="submit" class="btn btn-info"><i class="icon-filter"></i> Filter Projects</button>
	            </div>
            </form>
         </div>
         
         <div class="table-responsive">
            <table class="table table-striped table-bordered table-hover" data-mode="swipe" 
            	data-minimap data-sortable>
               <thead>
                  <tr>
                     <th data-priority="persist" data-sortable-col data-sortable-default-col>{% trans %} Name {% endtrans %}</th>
                     <th data-priority="3" data-sortable-col>{% trans %} Sector {% endtrans %}</th>
                     <th data-priority="3" data-sortable-col>{% trans %} County  {% endtrans %}</th>
                     <th data-priority="3" data-sortable-col>{% trans %} Sub-county {% endtrans %}</th>
                     <th data-priority="3" data-sortable-col>{% trans %} Constituency {% endtrans %}</th>
                     <th data-priority="3" data-sortable-col>{% trans %} Community {% endtrans %}</th>
                  </tr>
               </thead>
               <tbody>
               {% for project in projects %}
                  <tr>
                     <td><a href="{{ request.route_url('projects', traverse=(project.id)) }}">{{ project.name }}</a></td>
                     <td>{{ project.sector_name }}</td>
                     <td>{{ locations[project.id][0].pretty}}</td>
                     <td>{{ locations[project.id][1].pretty}}</td>
                     <td>{{ locations[project.id][2].pretty }}</td>
                     <td>{{ project.community.pretty }}</td>
                  </tr>
               {% endfor %}
               </tbody>
            </table>
         </div>
      </div>
    </div>
    <!-- END SAMPLE TABLE PORTLET-->
  </div>
</div>
{% endblock content %}
{% block page_scripts %}
    <script src="{{ request.static_url('wkcdd:static/scripts/custom.js') }}"></script>
    <script src="{{ request.static_url('wkcdd:static/scripts/map.js') }}"></script>
{% endblock %}
{% block jquery_ready %}
  {{ super() }}

  var geo_locations = {{ project_geopoints|safe() }};
  Map.displayMarkers(geo_locations);
  Map.initBaseMap('ona.i42dk97b');

  location_json_data = {{ filter_criteria["location_json_data"]|safe() }};
  LocationSelect.data_map = location_json_data;

  Custom.searchProjectsTable();

  {{ update_selected_location_dropdowns(search_criteria) }}
{% endblock %}
