{% extends 'base.jinja2' %}
{% from 'macros/value_or_default.jinja2' import value_or_default %}
{% from 'macros/add_indicator_links.jinja2' import add_indicator_links %}
{% from 'macros/generate_project_type_dropdown.jinja2' import generate_project_type_dropdown %}
{% from 'macros/generate_performance_indicator_table.jinja2' import generate_performance_indicator_table %}
{% block title %}{{ Projects }} {% endblock %}
{% block page_title %}
  <h3 class="page-title">
    {{ sub_county.name | capitalize }} Sub-County
    <small></small>
  </h3>
{% endblock %}
{% block breadcrumbs %}
  <li>
      <a href="{{ request.route_url('counties', traverse=()) }}">{% trans %}County Indicators{% endtrans %}</a>
      <i class="icon-angle-right"></i>
  </li>
  <li>
      <a href="{{ request.route_url('counties',traverse=(locations.county.id)) }}">{{ locations.county.name | capitalize }} County </a>
      <i class="icon-angle-right"></i>
  </li>
  <li>
      {{ sub_county.name | capitalize }} Sub-County
  </li>

{% endblock %}
{% block indicators %}
  {{ add_indicator_links(request, 'sub_county', sub_county, 'performance') }}
{% endblock %}
{% block content %}
<div class="col-md-12">
    <!-- BEGIN SAMPLE TABLE PORTLET-->
    <div class="portlet">
      <div class="portlet-title">
         <div class="caption"><i class="icon-tasks"></i>{% trans %}Constituencies{% endtrans %}</div>
         {{ generate_project_type_dropdown(request, selected_project_type, 'sub_county', sub_county, project_report_sectors)}}
      </div>
      {{ generate_performance_indicator_table(request, sub_county, 'constituency', selected_project_type, constituencies, aggregated_indicators, indicator_mapping) }}
    </div>
    <!-- END SAMPLE TABLE PORTLET-->
</div>
{{response}}
{% endblock content %}