{% extends 'base.jinja2' %}
{% from 'macros/value_or_default.jinja2' import value_or_default %}
{% block title %}{{ Projects }} {% endblock %}
{% block page_title %}
  <h3 class="page-title">
    {{ sub_county.name | capitalize }} Sub-County
    <small></small>
  </h3>
{% endblock %}
{% block breadcrumbs %}
  <li>
      <a href="{{ request.route_url('counties', traverse=()) }}">{% trans %}County Indicators{% endtrans %}</a>
      <i class="icon-angle-right"></i>
  </li>
  <li>
      <a href="{{ request.route_url('counties',traverse=(locations.county.id)) }}">{{ locations.county.name | capitalize }} County </a>
      <i class="icon-angle-right"></i>
  </li>
  <li>
      {{ sub_county.name | capitalize }} Sub-County
  </li>

{% endblock %}
{% block content %}
<div class="col-md-12">
    <!-- BEGIN SAMPLE TABLE PORTLET-->
    <div class="portlet">
      <div class="portlet-title">
         <div class="caption"><i class="icon-tasks"></i>{% trans %}Constituencies{% endtrans %}</div>
      </div>
      <div class="portlet-body">
         <div class="table-responsive">
            <table class="table table-striped table-bordered table-hover">
               <thead>
                  <tr>
                     <th>{% trans %} Name {% endtrans %}</th>
                     {% for indicator in impact_indicator_mapping %}
                        <th>

                        {{ indicator.title }}

                        </th>
                     {% endfor %}

                  </tr>
               </thead>
               <tbody>
               <tr>
                  <td>
                    {% trans %} Total Summary {% endtrans %}
                  </td>
                  {% for indicator in impact_indicator_mapping %}
                    <td>
                        {{ impact_indicators['total_indicator_summary'][indicator.key]|default('-') }}
                    </td>
                  {% endfor %}
               </tr>
               {% for constituency in constituencies %}
                  <tr>
                     <td><a href="{{ request.route_url('constituency', traverse=constituency.id) }}">{{ constituency.name | capitalize }} </a></td>
                     {% for indicator in impact_indicator_mapping %}
                        <td>
                         {{  impact_indicators['aggregated_impact_indicators'][constituency.id]['summary'][indicator.key]|default('-') }}
                        </td>
                     {% endfor %}
                  </tr>
               {% endfor %}
               </tbody>
            </table>
         </div>
      </div>
    </div>
    <!-- END SAMPLE TABLE PORTLET-->
</div>
{{response}}
{% endblock content %}